/* #add_btn { 
    background-color: blue;
    display: block;
    border-radius: 4px;
    color: white;
    text-align: center;
    padding: 1px; 
    
}

#delete_btn { 
    background-color: red;
} */